java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/abstract/BII05.sch

<!-- Schematron rules generated automatically. -->
<!-- Abstract rules for BII05 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" abstract="true" id="BII05">
  <rule context="$Invoice_Profile">
    <assert test="$BII-P05-001" flag="fatal">[BII-P05-001]-The profile ID is dependent on the profile in which the transaction is being used.</assert>
  </rule>
</pattern>
