java/validation-peppol-rules/src/main/resources/rules/biicore/schematron/abstract/BIICORE-T01.sch

<!--

    Version: MPL 1.1/EUPL 1.1

    The contents of this file are subject to the Mozilla Public License Version
    1.1 (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at:
    http://www.mozilla.org/MPL/

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
    for the specific language governing rights and limitations under the
    License.

    The Original Code is Copyright The PEPPOL project (http://www.peppol.eu)

    Alternatively, the contents of this file may be used under the
    terms of the EUPL, Version 1.1 or - as soon they will be approved
    by the European Commission - subsequent versions of the EUPL
    (the "Licence"); You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:
    http://www.osor.eu/eupl/european-union-public-licence-eupl-v.1.1

    Unless required by applicable law or agreed to in writing, software
    distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and
    limitations under the Licence.

    If you wish to allow use of your version of this file only
    under the terms of the EUPL License and not to allow others to use
    your version of this file under the MPL, indicate your decision by
    deleting the provisions above and replace them with the notice and
    other provisions required by the EUPL License. If you do not delete
    the provisions above, a recipient may use your version of this file
    under either the MPL or the EUPL License.

-->
<!-- Schematron rules generated automatically. -->
<!-- Abstract rules for T01 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" abstract="true" id="T01">
  <rule context="$Order">
    <assert test="$BIICORE-T01-R000" flag="warning">[BIICORE-T01-R000]-This XML instance is NOT a core BiiTrdm001 transaction</assert>
    <assert test="$BIICORE-T01-R001" flag="warning">[BIICORE-T01-R001]-An Order SHOULD not contain empty elements.</assert>
    <assert test="$BIICORE-T01-R002" flag="warning">[BIICORE-T01-R002]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R003" flag="warning">[BIICORE-T01-R003]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R004" flag="warning">[BIICORE-T01-R004]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R005" flag="warning">[BIICORE-T01-R005]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R006" flag="warning">[BIICORE-T01-R006]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R007" flag="warning">[BIICORE-T01-R007]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R008" flag="warning">[BIICORE-T01-R008]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R009" flag="warning">[BIICORE-T01-R009]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R010" flag="warning">[BIICORE-T01-R010]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R011" flag="warning">[BIICORE-T01-R011]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R012" flag="warning">[BIICORE-T01-R012]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R013" flag="warning">[BIICORE-T01-R013]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R014" flag="warning">[BIICORE-T01-R014]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R015" flag="warning">[BIICORE-T01-R015]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R016" flag="warning">[BIICORE-T01-R016]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R017" flag="warning">[BIICORE-T01-R017]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R018" flag="warning">[BIICORE-T01-R018]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R019" flag="warning">[BIICORE-T01-R019]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R020" flag="warning">[BIICORE-T01-R020]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R021" flag="warning">[BIICORE-T01-R021]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R022" flag="warning">[BIICORE-T01-R022]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R023" flag="warning">[BIICORE-T01-R023]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R024" flag="warning">[BIICORE-T01-R024]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R025" flag="warning">[BIICORE-T01-R025]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R026" flag="warning">[BIICORE-T01-R026]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R027" flag="warning">[BIICORE-T01-R027]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R028" flag="warning">[BIICORE-T01-R028]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R029" flag="warning">[BIICORE-T01-R029]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R030" flag="warning">[BIICORE-T01-R030]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R031" flag="warning">[BIICORE-T01-R031]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R032" flag="warning">[BIICORE-T01-R032]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R033" flag="warning">[BIICORE-T01-R033]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R034" flag="warning">[BIICORE-T01-R034]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R035" flag="warning">[BIICORE-T01-R035]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R036" flag="warning">[BIICORE-T01-R036]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R037" flag="warning">[BIICORE-T01-R037]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R038" flag="warning">[BIICORE-T01-R038]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R039" flag="warning">[BIICORE-T01-R039]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R040" flag="warning">[BIICORE-T01-R040]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R041" flag="warning">[BIICORE-T01-R041]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R042" flag="warning">[BIICORE-T01-R042]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R043" flag="warning">[BIICORE-T01-R043]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R044" flag="warning">[BIICORE-T01-R044]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R045" flag="warning">[BIICORE-T01-R045]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R046" flag="warning">[BIICORE-T01-R046]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R047" flag="warning">[BIICORE-T01-R047]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R048" flag="warning">[BIICORE-T01-R048]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R049" flag="warning">[BIICORE-T01-R049]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R050" flag="warning">[BIICORE-T01-R050]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R051" flag="warning">[BIICORE-T01-R051]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R052" flag="warning">[BIICORE-T01-R052]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R053" flag="warning">[BIICORE-T01-R053]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R054" flag="warning">[BIICORE-T01-R054]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R055" flag="warning">[BIICORE-T01-R055]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R056" flag="warning">[BIICORE-T01-R056]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R057" flag="warning">[BIICORE-T01-R057]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R058" flag="warning">[BIICORE-T01-R058]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R059" flag="warning">[BIICORE-T01-R059]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R060" flag="warning">[BIICORE-T01-R060]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R061" flag="warning">[BIICORE-T01-R061]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R062" flag="warning">[BIICORE-T01-R062]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R063" flag="warning">[BIICORE-T01-R063]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R064" flag="warning">[BIICORE-T01-R064]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R065" flag="warning">[BIICORE-T01-R065]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R066" flag="warning">[BIICORE-T01-R066]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R067" flag="warning">[BIICORE-T01-R067]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R068" flag="warning">[BIICORE-T01-R068]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R069" flag="warning">[BIICORE-T01-R069]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R070" flag="warning">[BIICORE-T01-R070]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R071" flag="warning">[BIICORE-T01-R071]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R072" flag="warning">[BIICORE-T01-R072]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R073" flag="warning">[BIICORE-T01-R073]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R074" flag="warning">[BIICORE-T01-R074]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R075" flag="warning">[BIICORE-T01-R075]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R076" flag="warning">[BIICORE-T01-R076]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R077" flag="warning">[BIICORE-T01-R077]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R078" flag="warning">[BIICORE-T01-R078]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R079" flag="warning">[BIICORE-T01-R079]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R080" flag="warning">[BIICORE-T01-R080]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R081" flag="warning">[BIICORE-T01-R081]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R082" flag="warning">[BIICORE-T01-R082]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R083" flag="warning">[BIICORE-T01-R083]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R084" flag="warning">[BIICORE-T01-R084]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R085" flag="warning">[BIICORE-T01-R085]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R086" flag="warning">[BIICORE-T01-R086]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R087" flag="warning">[BIICORE-T01-R087]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R088" flag="warning">[BIICORE-T01-R088]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R089" flag="warning">[BIICORE-T01-R089]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R090" flag="warning">[BIICORE-T01-R090]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R091" flag="warning">[BIICORE-T01-R091]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R092" flag="warning">[BIICORE-T01-R092]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R093" flag="warning">[BIICORE-T01-R093]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R094" flag="warning">[BIICORE-T01-R094]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R095" flag="warning">[BIICORE-T01-R095]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R096" flag="warning">[BIICORE-T01-R096]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R097" flag="warning">[BIICORE-T01-R097]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R098" flag="warning">[BIICORE-T01-R098]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R099" flag="warning">[BIICORE-T01-R099]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R100" flag="warning">[BIICORE-T01-R100]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R101" flag="warning">[BIICORE-T01-R101]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R102" flag="warning">[BIICORE-T01-R102]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R103" flag="warning">[BIICORE-T01-R103]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R104" flag="warning">[BIICORE-T01-R104]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R105" flag="warning">[BIICORE-T01-R105]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R106" flag="warning">[BIICORE-T01-R106]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R107" flag="warning">[BIICORE-T01-R107]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R108" flag="warning">[BIICORE-T01-R108]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R109" flag="warning">[BIICORE-T01-R109]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R110" flag="warning">[BIICORE-T01-R110]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R111" flag="warning">[BIICORE-T01-R111]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R112" flag="warning">[BIICORE-T01-R112]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R113" flag="warning">[BIICORE-T01-R113]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R114" flag="warning">[BIICORE-T01-R114]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R115" flag="warning">[BIICORE-T01-R115]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R116" flag="warning">[BIICORE-T01-R116]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R117" flag="warning">[BIICORE-T01-R117]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R118" flag="warning">[BIICORE-T01-R118]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R119" flag="warning">[BIICORE-T01-R119]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R120" flag="warning">[BIICORE-T01-R120]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R121" flag="warning">[BIICORE-T01-R121]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R122" flag="warning">[BIICORE-T01-R122]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R123" flag="warning">[BIICORE-T01-R123]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R124" flag="warning">[BIICORE-T01-R124]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R125" flag="warning">[BIICORE-T01-R125]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R126" flag="warning">[BIICORE-T01-R126]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R127" flag="warning">[BIICORE-T01-R127]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R128" flag="warning">[BIICORE-T01-R128]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R129" flag="warning">[BIICORE-T01-R129]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R130" flag="warning">[BIICORE-T01-R130]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R131" flag="warning">[BIICORE-T01-R131]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R132" flag="warning">[BIICORE-T01-R132]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R133" flag="warning">[BIICORE-T01-R133]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R134" flag="warning">[BIICORE-T01-R134]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R135" flag="warning">[BIICORE-T01-R135]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R136" flag="warning">[BIICORE-T01-R136]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R137" flag="warning">[BIICORE-T01-R137]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R138" flag="warning">[BIICORE-T01-R138]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R139" flag="warning">[BIICORE-T01-R139]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R140" flag="warning">[BIICORE-T01-R140]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R141" flag="warning">[BIICORE-T01-R141]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R142" flag="warning">[BIICORE-T01-R142]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R143" flag="warning">[BIICORE-T01-R143]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R144" flag="warning">[BIICORE-T01-R144]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R145" flag="warning">[BIICORE-T01-R145]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R146" flag="warning">[BIICORE-T01-R146]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R147" flag="warning">[BIICORE-T01-R147]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R148" flag="warning">[BIICORE-T01-R148]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R149" flag="warning">[BIICORE-T01-R149]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R150" flag="warning">[BIICORE-T01-R150]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R151" flag="warning">[BIICORE-T01-R151]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R152" flag="warning">[BIICORE-T01-R152]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R153" flag="warning">[BIICORE-T01-R153]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R154" flag="warning">[BIICORE-T01-R154]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R155" flag="warning">[BIICORE-T01-R155]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R156" flag="warning">[BIICORE-T01-R156]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R157" flag="warning">[BIICORE-T01-R157]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R158" flag="warning">[BIICORE-T01-R158]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R159" flag="warning">[BIICORE-T01-R159]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R160" flag="warning">[BIICORE-T01-R160]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R161" flag="warning">[BIICORE-T01-R161]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R162" flag="warning">[BIICORE-T01-R162]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R163" flag="warning">[BIICORE-T01-R163]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R164" flag="warning">[BIICORE-T01-R164]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R165" flag="warning">[BIICORE-T01-R165]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R166" flag="warning">[BIICORE-T01-R166]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R167" flag="warning">[BIICORE-T01-R167]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R168" flag="warning">[BIICORE-T01-R168]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R169" flag="warning">[BIICORE-T01-R169]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R170" flag="warning">[BIICORE-T01-R170]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R171" flag="warning">[BIICORE-T01-R171]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R172" flag="warning">[BIICORE-T01-R172]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R173" flag="warning">[BIICORE-T01-R173]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R174" flag="warning">[BIICORE-T01-R174]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R175" flag="warning">[BIICORE-T01-R175]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R176" flag="warning">[BIICORE-T01-R176]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R177" flag="warning">[BIICORE-T01-R177]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R178" flag="warning">[BIICORE-T01-R178]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R179" flag="warning">[BIICORE-T01-R179]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R180" flag="warning">[BIICORE-T01-R180]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R181" flag="warning">[BIICORE-T01-R181]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R182" flag="warning">[BIICORE-T01-R182]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R183" flag="warning">[BIICORE-T01-R183]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R184" flag="warning">[BIICORE-T01-R184]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R185" flag="warning">[BIICORE-T01-R185]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R186" flag="warning">[BIICORE-T01-R186]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R187" flag="warning">[BIICORE-T01-R187]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R188" flag="warning">[BIICORE-T01-R188]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R189" flag="warning">[BIICORE-T01-R189]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R190" flag="warning">[BIICORE-T01-R190]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R191" flag="warning">[BIICORE-T01-R191]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R192" flag="warning">[BIICORE-T01-R192]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R193" flag="warning">[BIICORE-T01-R193]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R194" flag="warning">[BIICORE-T01-R194]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R195" flag="warning">[BIICORE-T01-R195]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R196" flag="warning">[BIICORE-T01-R196]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R197" flag="warning">[BIICORE-T01-R197]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R198" flag="warning">[BIICORE-T01-R198]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R199" flag="warning">[BIICORE-T01-R199]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R200" flag="warning">[BIICORE-T01-R200]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R201" flag="warning">[BIICORE-T01-R201]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R202" flag="warning">[BIICORE-T01-R202]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R203" flag="warning">[BIICORE-T01-R203]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R204" flag="warning">[BIICORE-T01-R204]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R205" flag="warning">[BIICORE-T01-R205]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R206" flag="warning">[BIICORE-T01-R206]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R207" flag="warning">[BIICORE-T01-R207]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R208" flag="warning">[BIICORE-T01-R208]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R209" flag="warning">[BIICORE-T01-R209]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R210" flag="warning">[BIICORE-T01-R210]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R211" flag="warning">[BIICORE-T01-R211]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R212" flag="warning">[BIICORE-T01-R212]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R213" flag="warning">[BIICORE-T01-R213]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R214" flag="warning">[BIICORE-T01-R214]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R215" flag="warning">[BIICORE-T01-R215]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R216" flag="warning">[BIICORE-T01-R216]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R217" flag="warning">[BIICORE-T01-R217]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R218" flag="warning">[BIICORE-T01-R218]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R219" flag="warning">[BIICORE-T01-R219]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R220" flag="warning">[BIICORE-T01-R220]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R221" flag="warning">[BIICORE-T01-R221]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R222" flag="warning">[BIICORE-T01-R222]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R223" flag="warning">[BIICORE-T01-R223]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R224" flag="warning">[BIICORE-T01-R224]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R225" flag="warning">[BIICORE-T01-R225]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R226" flag="warning">[BIICORE-T01-R226]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R227" flag="warning">[BIICORE-T01-R227]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R228" flag="warning">[BIICORE-T01-R228]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R229" flag="warning">[BIICORE-T01-R229]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R230" flag="warning">[BIICORE-T01-R230]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R231" flag="warning">[BIICORE-T01-R231]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R232" flag="warning">[BIICORE-T01-R232]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R233" flag="warning">[BIICORE-T01-R233]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R234" flag="warning">[BIICORE-T01-R234]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R235" flag="warning">[BIICORE-T01-R235]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R236" flag="warning">[BIICORE-T01-R236]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R237" flag="warning">[BIICORE-T01-R237]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R238" flag="warning">[BIICORE-T01-R238]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R239" flag="warning">[BIICORE-T01-R239]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R240" flag="warning">[BIICORE-T01-R240]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R241" flag="warning">[BIICORE-T01-R241]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R242" flag="warning">[BIICORE-T01-R242]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R243" flag="warning">[BIICORE-T01-R243]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R244" flag="warning">[BIICORE-T01-R244]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R245" flag="warning">[BIICORE-T01-R245]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R246" flag="warning">[BIICORE-T01-R246]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R247" flag="warning">[BIICORE-T01-R247]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R248" flag="warning">[BIICORE-T01-R248]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R249" flag="warning">[BIICORE-T01-R249]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R250" flag="warning">[BIICORE-T01-R250]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R251" flag="warning">[BIICORE-T01-R251]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R252" flag="warning">[BIICORE-T01-R252]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R253" flag="warning">[BIICORE-T01-R253]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R254" flag="warning">[BIICORE-T01-R254]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R255" flag="warning">[BIICORE-T01-R255]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R256" flag="warning">[BIICORE-T01-R256]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R257" flag="warning">[BIICORE-T01-R257]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R258" flag="warning">[BIICORE-T01-R258]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R259" flag="warning">[BIICORE-T01-R259]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R260" flag="warning">[BIICORE-T01-R260]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R261" flag="warning">[BIICORE-T01-R261]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R262" flag="warning">[BIICORE-T01-R262]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R263" flag="warning">[BIICORE-T01-R263]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R264" flag="warning">[BIICORE-T01-R264]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R265" flag="warning">[BIICORE-T01-R265]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R266" flag="warning">[BIICORE-T01-R266]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R267" flag="warning">[BIICORE-T01-R267]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R268" flag="warning">[BIICORE-T01-R268]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R269" flag="warning">[BIICORE-T01-R269]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R270" flag="warning">[BIICORE-T01-R270]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R271" flag="warning">[BIICORE-T01-R271]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R272" flag="warning">[BIICORE-T01-R272]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R273" flag="warning">[BIICORE-T01-R273]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R274" flag="warning">[BIICORE-T01-R274]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R275" flag="warning">[BIICORE-T01-R275]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R276" flag="warning">[BIICORE-T01-R276]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R277" flag="warning">[BIICORE-T01-R277]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R278" flag="warning">[BIICORE-T01-R278]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R279" flag="warning">[BIICORE-T01-R279]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R280" flag="warning">[BIICORE-T01-R280]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R281" flag="warning">[BIICORE-T01-R281]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R282" flag="warning">[BIICORE-T01-R282]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R283" flag="warning">[BIICORE-T01-R283]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R284" flag="warning">[BIICORE-T01-R284]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R285" flag="warning">[BIICORE-T01-R285]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R286" flag="warning">[BIICORE-T01-R286]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R287" flag="warning">[BIICORE-T01-R287]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R288" flag="warning">[BIICORE-T01-R288]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R289" flag="warning">[BIICORE-T01-R289]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R290" flag="warning">[BIICORE-T01-R290]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R291" flag="warning">[BIICORE-T01-R291]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R292" flag="warning">[BIICORE-T01-R292]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R293" flag="warning">[BIICORE-T01-R293]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R294" flag="warning">[BIICORE-T01-R294]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R295" flag="warning">[BIICORE-T01-R295]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R296" flag="warning">[BIICORE-T01-R296]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R297" flag="warning">[BIICORE-T01-R297]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R298" flag="warning">[BIICORE-T01-R298]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R299" flag="warning">[BIICORE-T01-R299]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R300" flag="warning">[BIICORE-T01-R300]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R301" flag="warning">[BIICORE-T01-R301]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R302" flag="warning">[BIICORE-T01-R302]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R303" flag="warning">[BIICORE-T01-R303]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R304" flag="warning">[BIICORE-T01-R304]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R306" flag="warning">[BIICORE-T01-R306]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R307" flag="warning">[BIICORE-T01-R307]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R308" flag="warning">[BIICORE-T01-R308]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R309" flag="warning">[BIICORE-T01-R309]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R310" flag="warning">[BIICORE-T01-R310]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R311" flag="warning">[BIICORE-T01-R311]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R312" flag="warning">[BIICORE-T01-R312]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R313" flag="warning">[BIICORE-T01-R313]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R314" flag="warning">[BIICORE-T01-R314]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R315" flag="warning">[BIICORE-T01-R315]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R316" flag="warning">[BIICORE-T01-R316]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R317" flag="warning">[BIICORE-T01-R317]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R318" flag="warning">[BIICORE-T01-R318]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R319" flag="warning">[BIICORE-T01-R319]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R320" flag="warning">[BIICORE-T01-R320]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R321" flag="warning">[BIICORE-T01-R321]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R322" flag="warning">[BIICORE-T01-R322]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R323" flag="warning">[BIICORE-T01-R323]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R324" flag="warning">[BIICORE-T01-R324]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R325" flag="warning">[BIICORE-T01-R325]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R326" flag="warning">[BIICORE-T01-R326]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R327" flag="warning">[BIICORE-T01-R327]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R328" flag="warning">[BIICORE-T01-R328]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R329" flag="warning">[BIICORE-T01-R329]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R330" flag="warning">[BIICORE-T01-R330]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R331" flag="warning">[BIICORE-T01-R331]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R332" flag="warning">[BIICORE-T01-R332]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R333" flag="warning">[BIICORE-T01-R333]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R334" flag="warning">[BIICORE-T01-R334]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R335" flag="warning">[BIICORE-T01-R335]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R336" flag="warning">[BIICORE-T01-R336]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R337" flag="warning">[BIICORE-T01-R337]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R338" flag="warning">[BIICORE-T01-R338]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R339" flag="warning">[BIICORE-T01-R339]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R340" flag="warning">[BIICORE-T01-R340]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R341" flag="warning">[BIICORE-T01-R341]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R342" flag="warning">[BIICORE-T01-R342]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R343" flag="warning">[BIICORE-T01-R343]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R344" flag="warning">[BIICORE-T01-R344]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R345" flag="warning">[BIICORE-T01-R345]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R346" flag="warning">[BIICORE-T01-R346]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R347" flag="warning">[BIICORE-T01-R347]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R348" flag="warning">[BIICORE-T01-R348]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R349" flag="warning">[BIICORE-T01-R349]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R350" flag="warning">[BIICORE-T01-R350]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R351" flag="warning">[BIICORE-T01-R351]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R352" flag="warning">[BIICORE-T01-R352]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R353" flag="warning">[BIICORE-T01-R353]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R354" flag="warning">[BIICORE-T01-R354]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R355" flag="warning">[BIICORE-T01-R355]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R356" flag="warning">[BIICORE-T01-R356]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R357" flag="warning">[BIICORE-T01-R357]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R358" flag="warning">[BIICORE-T01-R358]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R359" flag="warning">[BIICORE-T01-R359]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R360" flag="warning">[BIICORE-T01-R360]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R361" flag="warning">[BIICORE-T01-R361]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R362" flag="warning">[BIICORE-T01-R362]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R363" flag="warning">[BIICORE-T01-R363]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R364" flag="warning">[BIICORE-T01-R364]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R365" flag="warning">[BIICORE-T01-R365]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R366" flag="warning">[BIICORE-T01-R366]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R367" flag="warning">[BIICORE-T01-R367]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R368" flag="warning">[BIICORE-T01-R368]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R369" flag="warning">[BIICORE-T01-R369]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R370" flag="warning">[BIICORE-T01-R370]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R371" flag="warning">[BIICORE-T01-R371]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R372" flag="warning">[BIICORE-T01-R372]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R373" flag="warning">[BIICORE-T01-R373]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R374" flag="warning">[BIICORE-T01-R374]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R375" flag="warning">[BIICORE-T01-R375]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R376" flag="warning">[BIICORE-T01-R376]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R377" flag="warning">[BIICORE-T01-R377]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R378" flag="warning">[BIICORE-T01-R378]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R379" flag="warning">[BIICORE-T01-R379]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R380" flag="warning">[BIICORE-T01-R380]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R381" flag="warning">[BIICORE-T01-R381]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R382" flag="warning">[BIICORE-T01-R382]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R383" flag="warning">[BIICORE-T01-R383]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R384" flag="warning">[BIICORE-T01-R384]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R385" flag="warning">[BIICORE-T01-R385]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R386" flag="warning">[BIICORE-T01-R386]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R387" flag="warning">[BIICORE-T01-R387]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R388" flag="warning">[BIICORE-T01-R388]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R389" flag="warning">[BIICORE-T01-R389]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R390" flag="warning">[BIICORE-T01-R390]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R391" flag="warning">[BIICORE-T01-R391]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R392" flag="warning">[BIICORE-T01-R392]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R393" flag="warning">[BIICORE-T01-R393]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R394" flag="warning">[BIICORE-T01-R394]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R395" flag="warning">[BIICORE-T01-R395]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R396" flag="warning">[BIICORE-T01-R396]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R397" flag="warning">[BIICORE-T01-R397]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R398" flag="warning">[BIICORE-T01-R398]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R399" flag="warning">[BIICORE-T01-R399]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R400" flag="warning">[BIICORE-T01-R400]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R401" flag="warning">[BIICORE-T01-R401]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R402" flag="warning">[BIICORE-T01-R402]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R403" flag="warning">[BIICORE-T01-R403]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R404" flag="warning">[BIICORE-T01-R404]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R405" flag="warning">[BIICORE-T01-R405]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R406" flag="warning">[BIICORE-T01-R406]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R407" flag="warning">[BIICORE-T01-R407]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R408" flag="warning">[BIICORE-T01-R408]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R409" flag="warning">[BIICORE-T01-R409]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R410" flag="warning">[BIICORE-T01-R410]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R411" flag="warning">[BIICORE-T01-R411]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R412" flag="warning">[BIICORE-T01-R412]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R413" flag="warning">[BIICORE-T01-R413]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R414" flag="warning">[BIICORE-T01-R414]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R415" flag="warning">[BIICORE-T01-R415]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R416" flag="warning">[BIICORE-T01-R416]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R417" flag="warning">[BIICORE-T01-R417]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R418" flag="warning">[BIICORE-T01-R418]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R419" flag="warning">[BIICORE-T01-R419]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R420" flag="warning">[BIICORE-T01-R420]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R421" flag="warning">[BIICORE-T01-R421]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R422" flag="warning">[BIICORE-T01-R422]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R423" flag="warning">[BIICORE-T01-R423]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R424" flag="warning">[BIICORE-T01-R424]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R425" flag="warning">[BIICORE-T01-R425]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R425" flag="warning">[BIICORE-T01-R425]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R427" flag="warning">[BIICORE-T01-R427]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R428" flag="warning">[BIICORE-T01-R428]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R429" flag="warning">[BIICORE-T01-R429]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R430" flag="warning">[BIICORE-T01-R430]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R431" flag="warning">[BIICORE-T01-R431]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R432" flag="warning">[BIICORE-T01-R432]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R433" flag="warning">[BIICORE-T01-R433]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T01-R434" flag="warning">[BIICORE-T01-R434]-A conformant CEN BII Order core data model SHOULD not have data elements not in the core.</assert>
  </rule>
  <rule context="$Customer">
    <assert test="$BIICORE-T01-R435" flag="warning">[BIICORE-T01-R435]-Element 'PartyIdentification' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R436" flag="warning">[BIICORE-T01-R436]-Element 'PartyName' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T01-R437" flag="warning">[BIICORE-T01-R437]-Element 'PartyLegalEntity' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Supplier">
    <assert test="$BIICORE-T01-R438" flag="warning">[BIICORE-T01-R438]-Element 'PartyIdentification' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R439" flag="warning">[BIICORE-T01-R439]-Element 'PartyName' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T01-R440" flag="warning">[BIICORE-T01-R440]-Element 'PartyLegalEntity' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Item">
    <assert test="$BIICORE-T01-R441" flag="warning">[BIICORE-T01-R441]-Element 'Description' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Originator">
    <assert test="$BIICORE-T01-R442" flag="warning">[BIICORE-T01-R442]-Element 'PartyIdentification' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R443" flag="warning">[BIICORE-T01-R443]-Element 'PartyName' may occur at maximum 1 times</assert>
  </rule>
  <rule context="$Order">
    <assert test="$BIICORE-T01-R444" flag="warning">[BIICORE-T01-R444]-Element 'Note' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R445" flag="warning">[BIICORE-T01-R445]-Element 'Validity Period' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R446" flag="warning">[BIICORE-T01-R446]-Element 'Order Document Reference' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R447" flag="warning">[BIICORE-T01-R447]-Element 'Contract' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T01-R448" flag="warning">[BIICORE-T01-R448]-Element 'Delivery' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Delivery_Party">
    <assert test="$BIICORE-T01-R449" flag="warning">[BIICORE-T01-R449]-Element 'PartyName' may occur at maximum 1 times</assert>
  </rule>
</pattern>
