trunk/java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/ubl/BII05_ubl.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for BII05 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="BII05" id="ubl-BII05">
  <param name="BII-P05-001" value=". = 'urn:www.cenbii.eu:profiles:profile5:ver1.0'"/>
  <param name="Invoice_Profile" value="//cbc:ProfileID"/>
</pattern>
