trunk/java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/ubl/BII08_ubl.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for BII08 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="BII08" id="ubl-BII08">
  <param name="BII-P08-001" value=". = 'urn:www.cenbii.eu:profiles:profile8:ver1.0'"/>
  <param name="Invoice_Profile" value="//cbc:ProfileID"/>
</pattern>
