trunk/java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/ubl/BII13_ubl.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for BII13 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="BII13" id="ubl-BII13">
  <param name="BII-P13-001" value=". = 'urn:www.cenbii.eu:profiles:profile13:ver1.0'"/>
  <param name="BII-P13-002" value="local-name(/) = 'Invoice' and //cac:OrderReference/cbc:ID"/>
  <param name="Invoice_Profile" value="//cbc:ProfileID"/>
  <param name="Invoice" value="/ubl:Invoice"/>
</pattern>
