java/validation/validation-engine/src/main/resources/ValidationEngine/validators/xsd/PreAward/PeppolAggregateComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Document Type:     PeppolCommonAggregateComponents
 Generated On:      Tue Oct 20  2010

-->
<!-- ===== xsd:schema Element With Namespaces Declarations ===== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
    xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
    xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
    xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2"
    xmlns:ccts="urn:un:unece:uncefact:documentation:2"
    xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2.0">
<!-- ===== Imports ===== -->
  <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="../common/UBL-CommonBasicComponents-2.0.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="../common/UnqualifiedDataTypeSchemaModule-2.0.xsd"/>
  <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" schemaLocation="../common/UBL-QualifiedDatatypes-2.0.xsd"/>
<!-- ===== Includes===== -->
  <xsd:include schemaLocation="../common/UBL-CommonAggregateComponents-2.0.xsd"/>

	<!-- ===== Element Declarations ===== -->
 <xsd:element name="TenderingTerms" type="TenderingTermsType"/>
<xsd:element name="TenderingProcess" type="TenderingProcessType"/>
<xsd:element name="ProcurementProject" type="ProcurementProjectType"/>
<xsd:element name="TenderLine" type="TenderLineType"/>


<xsd:complexType name="TenderingTermsType">
     <xsd:sequence>
      <xsd:element ref="cbc:Note" minOccurs="1" maxOccurs="1"/>
     </xsd:sequence>
  </xsd:complexType>	
  
  
   
	<xsd:complexType name="TenderingProcessType">
     <xsd:sequence>
      <xsd:element ref="cbc:Type" minOccurs="1" maxOccurs="1"/>
     </xsd:sequence>
  </xsd:complexType>	
  
  
  <xsd:complexType name="ProcurementProjectType">
     <xsd:sequence>
      <xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="cbc:Description" minOccurs="1" maxOccurs="1"/>
       <xsd:element ref="TenderLine" minOccurs="1" maxOccurs="unbounded"/>
     </xsd:sequence>
  </xsd:complexType>	
  
  <xsd:complexType name="TenderLineType">
    <xsd:sequence>
    <xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
    <xsd:element ref="cbc:Note" minOccurs="1" maxOccurs="1"/>
    <xsd:element ref="cbc:Quantity" minOccurs="0" maxOccurs="1"/>
    <xsd:element ref="cbc:MaximumTaxExclusiveAmount" minOccurs="0" maxOccurs="1"/>
    <xsd:element ref="cbc:MaximumTaxInclusiveAmount" minOccurs="0" maxOccurs="1"/>
    <xsd:element ref="Item" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>	
  
</xsd:schema>
