java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/ubl/BII04_ubl.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for BII04 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="BII04" id="ubl-BII04">
  <param name="BII-P04-001" value=". = 'urn:www.cenbii.eu:profiles:profile4:ver1.0'"/>
  <param name="Invoice_Profile" value="//cbc:ProfileID"/>
</pattern>
