java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/ubl/BII06_ubl.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for BII06 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="BII06" id="ubl-BII06">
  <param name="BII-P06-001" value=". = 'urn:www.cenbii.eu:profiles:profile6:ver1.0'"/>
  <param name="BII-P06-002" value="local-name(/) = 'Invoice' and //cac:OrderReference/cbc:ID"/>
  <param name="Invoice_Profile" value="//cbc:ProfileID"/>
  <param name="Invoice" value="/ubl:Invoice"/>
</pattern>
