java/validation/validation-engine/src/main/resources/ValidationEngine/validators/sch_old/ubl/BII23_ubl.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for BII23 -->
<!-- CEN BII WG3 (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="BII23" id="ubl-BII23">
  <param name="BII-P23-001" value=". = 'urn:www.cenbii.eu:profiles:profile23:ver1.0'"/>
  <param name="Invoice_Profile" value="//cbc:ProfileID"/>
</pattern>
